.*.swp
Makefile
Makefile.in
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.mod
*.o
*.orig
*.rej
*.tmp
*.trs
tmp
tmp-*
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libpspio-*.tar.gz
/libtool
/stamp-h1
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/gnu/test-driver
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4
/fortran/aclocal.m4
/fortran/autom4te.cache
/fortran/config.h.in
/fortran/config.h
/fortran/config.log
/fortran/config.status
/fortran/configure
/fortran/libpspio-0.1.tar.gz
/fortran/libtool
/fortran/stamp-h1
/fortran/config/gnu/compile
/fortran/config/gnu/config.guess
/fortran/config/gnu/config.sub
/fortran/config/gnu/depcomp
/fortran/config/gnu/install-sh
/fortran/config/gnu/ltmain.sh
/fortran/config/gnu/missing
/fortran/config/gnu/test-driver
/fortran/config/m4/libtool.m4
/fortran/config/m4/ltoptions.m4
/fortran/config/m4/ltsugar.m4
/fortran/config/m4/ltversion.m4
/fortran/config/m4/lt~obsolete.m4
/fortran/src/.deps
/fortran/src/.libs
/fortran/src/tests/.libs
/fortran/src/tests/gcov_check_coverage
/fortran/src/tests/gcov_fortran_clean
/fortran/src/tests/gcov_fortran_report
/fortran/src/tests/result.xml
/fortran/src/tests/result_tmp.xml
/fortran/src/tests/test_fortran_error
/fortran/src/tests/test_fortran_info
/fortran/src/tests/test_fortran_io
/fortran/src/tests/test_fortran_io_multiple
/fortran/src/tests/test_fortran_memory
/fortran/src/tests/test_fortran_mesh
/fortran/src/tests/test_fortran_meshfunc
/src/check_pspio
/src/.deps
/src/.libs
/src/test_io
/src/gcov_check_coverage
/src/gcov_clean
/src/gcov_report
/src/test_memory
